.donations {
    padding: 28px 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 30px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    flex-wrap: wrap;
    
}

.title {
    color: #4CAF50;
    font-size: 2.5rem;
}

.subtitle {
    font-size: 2.1875rem;
}